@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
  background:#f1f4f6 !important;
  font-size: 12px;
}

html {
  box-sizing: border-box;
}

*{margin:0;padding:0}
ol, ul, li, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h3, h2, h4, h5, h6 {
  margin: 0;
}

.fl{  float: left;}
.fr{  float: right;}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
body a{
  color: #1f90c8;
}
.anclear:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}
.line{
  border-top:1px solid #ddd;
}
html body .btn-black{
  background: #383c4a;
  color: #fff;
  outline: none;
  border:none;
}
html body .btn-blackhover{
  background: #383c4a;
  color: #fff;
  outline: none;
  border:none;
}
html body .btn-black:hover{
  background: #383c4a;
  outline: none;
  color: #fff;
}
html body .btn-blackhover:hover{
  background: #428bca;
  outline: none;
  color: #fff ;
}
body .el-select .el-input .el-input__icon{
  transform: translateY(-50%) rotateZ(180deg) scale(0.7);
}
.el-select .el-input .el-input__icon.is-reverse{
  transform: translateY(-50%) scale(0.7);
}



.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
h6.line1{
  height:1px;
  width:100%;
  border-top:1px solid #aaa
}

.tableSearch{
  margin:10px 15px;
}
.fastSearch{
  margin:20px 30px;
}
.dateSearch{
  margin:10px 15px;
}

.fff{
  background-color: #fff;
}
.ancontent{
  padding: 20px;
  margin: 0 0 30px 0;
}

.an-table{
  font-size: 12px;
  margin:15px 0;
}
.an-width150 li:after,.an-width170 li:after{
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}
.an-width170>li div:first-child {

  text-align: left;
}
.dwqewq{
  margin-left: 28px;
}
.mg16{
  margin-left: 16px;
}
.mg24{
  margin-left: 24px;
}
.mg_5{
  margin-left: -5px;
}
.mg5{
  margin-left: 5px;
}
.mg11{
  margin-left:11px;
}
.mg4{
  margin-left:4px;
}
.duankouguanli>li div:first-child{
  width:108px
}
.weizhiguanli>li div:first-child{
  width:72px
}
.ziwangyanma>li div:first-child{
  width:132px
}
.nodeguanli>li div:first-child{
  width:94px
}
.flowlist>li div:first-child{
  width:72px
}
.islist>li div:first-child{
  width:120px
}
.zhzh>li div:first-child{
  width:80px
}
.wljhj>li div:first-child{
  width:130px
}
.xtyh>li div:first-child{
  width:77px
}
.fpdk>li div:first-child{
  width:110px
}
.yhgl>li div:first-child{
  width:140px
}
.wljhj .marg5{
  margin-left: 5px;
}
.xtyh .marg5{
  margin-left: 5px;
}
.zhzh .duankou{
  margin-left: -5px;
}
.islist .marg5{
  margin-left: 5px;
}
.duankouguanli .duankou{
  margin-left: -5px;
}
.flowlist .duankou{
  margin-left: -5px;
}
.nodeguanli .marg5{
  margin-left: 5px;
}
.nodeguanli .duankou{
  margin-left: 0;
}


.an-width170 .dwqewq>div{
  margin-left:23px;
}
.an-width170 .dsadsa>div div:first-child{

}
.an-width170 .dsadsa>div div:last-child{
  width:110px;
  margin-left:20px;
}
.mg20{
  margin-left:28px !important;
}

.popContent ul li div{
  padding: 0
}
.an-width170>li div:last-child{
  width: 300px;
}
.el-input, .el-input__inner{
  width:auto;

}

.an-width150 li div:first-child {
  width: 150px;
  margin: 0 0 0 45px;
}
.el-input-number .el-input-number__decrease,.el-input-number .el-input-number__increase{
  height: 29px;
  line-height: 29px;
}
.el-input__inner, .el-select-dropdown__item{
  width:200px;
}
input.el-input__inner:focus{
  border-color:#383c4a;
}
.sidebar-container ul.el-menu{
  overflow-x: auto;
  max-height:300px;
}
.left-background{
  background:#428bca
}
.left1 .left-background a .dot{
  background:#fff
}
.left2 .left-background .left-background a .dot{
  background:#fff
}
.firsthidden{
  display: none;
  background: #1f2d3d;
  width:215px;
}
.line-admin{
  width: 40px;
  height: 17px;
  border-top:3px solid #6e6f7e;
  margin:8px 0 0 4px;
}
.app-levelbar{
  line-height: 32px !important;
}
.app-levelbar a{
  font-size:12px;
  color: #777 !important;
}
.app-levelbar>.el-breadcrumb__item:first-child a{
  font-family: '微软雅黑';
  margin-right: 5px;
  background: #428bca;
  color: #fff !important;
  padding: 1px 6px;
  border-radius: 3px;
}
.el-button.btn-black{
  font-size: 12px;
}
.h_usertype00_5_4{
  font-size:12px !important;
}
.el-input__inner,.el-select-dropdown__item{
  height:30px;
  font-size:12px;
}
.el-date-editor.el-input{
  width:200px;
}

































































//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.sidebar-container ::-webkit-scrollbar{width:0px}
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-menu .el-menu-item,.el-menu-item,.el-menu--dark .el-submenu__title{
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  color: #fff;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
  background:rgb(66, 139, 202);
  color: #fff;
}
.describe{
  background: #e4eaec;
  line-height: 20px;
  padding: 12px 25px;
  font-size:12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #58666e;
}
.el-button.btn-black:hover,.el-button.btn-black:focus{
  background:#000;
  color: #fff;
}
.btnbox{
  padding-top: 10px;
}
.btnbox>a{
  float: left;
}
.el-submenu__title>svg{
  font-size:14px;
}

.dot{
  width: 5px;
  height: 5px;
  left: 4px;
  position: relative;
  margin-right: 22px !important;
  top: -1px;
  background: rgb(102, 102, 102);
  display: inline-block;
  border-radius: 50%;
}
//页面按钮图标样式
.symbol{    ////页面按钮图标
  width:10px;
  height:10px;
  display: inline-block;
  margin-right: 8px;
}
//     <i class="iconfont icon-init symbol"></i>
.shaixuanbox>input{
  height:30px;
}

.el-button{
  padding: 7px 15px;
  font-size: 12px;
  height: 30px;
}
.el-button.el-button--primary{
  height: 30px;
}
.left2 .dot{
  width: 5px;
  height: 5px;
  left: 0;
  position: relative;
  margin-right: 8px !important;
  top: -1px;
  background: #666666;
  display: inline-block;
  border-radius: 50%;
}
.el-dropdown-menu.user-dropdown{
  display: block !important;
  margin: 0;
  border: none;
  height: 48px;
  box-shadow:none;
  font-size:12px;
  left: -146px;
  padding: 0;
  width: 220px;
}
.el-dropdown-menu.user-dropdown>li{
  position: relative;
  width: 222px !important;
  left: 0px;
}
.el-dropdown-menu.user-dropdown>li:hover{
  background:#f8f8f8
}
.el-dropdown-menu.user-dropdown>a>li:hover{
    background:#f8f8f8
}
.el-dropdown-menu__item--divided:before{

}
.dsadsa input{
  width:108px !important;
}

.dsadsa .el-date-editor--time{
  width: 110px;
}
.el-dropdown-menu.user-dropdown>a{
  float: left;
  width: 100%;
  height: 100%;
}
.button-pop li button:focus,.button-pop li button:hover{
  background: #000;
  border-color:#000;
  color: #fff;
}
.el-dropdown-menu.user-dropdown>li{
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17);
  margin-top: 0px;
}
.el-dropdown-menu.user-dropdown>li.el-dropdown-menu__item--divided{
  font-size: 12px;
  line-height: 48px;
  padding-left: 56px;
}
.el-dropdown-menu__item--divided:before{
  display: none;
}
.el-dropdown-menu.user-dropdown>a>li{
  line-height: 48px;    text-align: center;
}
.el-dropdown-menu__item--divided{
  display: none;
}
.el-dropdown-menu.user-dropdown:hover{
  .el-dropdown-menu__item--divided{
    display: block;
  }
}
.popContent .an-width170>li>div>div.el-select{
  margin:0;
}
#anLeftList div > ul li a:hover{
  .dot{
    background: #1f90c8;
  }
}

.popContent .an-width170>li .el-input-number{
  width:202px;
  margin-bottom: 10px;
}

.el-pagination__sizes .el-input__inner{
  width:100%;
}
.an-width170>li>div>div>.el-select>.el-input{
  width:auto;
  margin-left:5px;
}

.an-width170>li .el-select>.el-input{
  width:auto;
  margin-left:5px;
}
.an-width170>li .el-select>.el-input>.el-input__icon.el-icon-caret-top{
  right: 12px;
}
